
 <% if @user.errors.any? %>
  <%= @user.errors.count %>errors prohibited this book from being saved:
  <% end %>
  <ul>
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
      <% end %>

<div class="container">
  <div class="col-sm-12bcol-md-8 col-lg-5px-5 px-sm-0 mx-auto">
<h2>User   info</h2>

<%= form_with model: @user do |f| %>
    <h4>Name</h4>
    <%= f.text_field :name %>
    <h4>Image</h4>
  <%= f.file_field :profile_image %>
    <h4>introduction</h4>
      <%= f.text_area :introduction %></br>
    <%= f.submit 'Update User',class: "btn btn-secondary" %>
<% end %>
 </div>
</div>