 <div>
  <%= flash[:notice] %>
</div>
<div class="container px-5 px-sm-0">
     <div class="row">
        <%= render 'books/list',books: @books %>

      <div class= "col-md-8 offset-md-1">
      <h2>Users</h2>

      <table class='table'>
      <thead>
      <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image(100,100), size: "100x100" %></td>
         <td><%= user.name %></td>
            <td><%=link_to "Show", user_path(user.id)%></td>

        </tr>
         <% end %>
               </tbody>
              </table>
              </div>
          </div>
       </div>
