<div class="container">
 <div class="row">
  <div class="col-md-3" >
        <h1>Users info</h1>
          <tb><%= image_tag @user.get_profile_image(100,100), size: "100x100" %></tb>

             <table class='table table-hover table-inverse'>
               <tr>
                 <th>name</th><th><%=@user.name %></th>
                </tr>
                   <tr>
                       <th>introduction</th><th><%= @user.introduction%></th>
                    </tr>
             </table>

                         <%= link_to edit_user_path(@user), class: "btn btn-light btn-outline-secondary btn-block" do %>
                            <i class="fas fa-user-cog"></i>

                               <% end %>



                               <h2>New book</h2>
                               <div class="md-3">
                                   <%= form_with model: Book.new do |f| %>

                                  <h5>Title</h5>
                                    <%= f.text_field :title, class:"col-xs-12"%>
                                   <h5>Body</h5>
                                      <%= f.text_area :body, class:"col-xs-12" %>
                                          <br><%= f.submit "Create Book", class: "col-xs-12 btn btn-success" %></br>
                                </div>
                                   <% end %>


                    </div>
                   </div>
                </div>