<div>
  <%= flash[:notice] %>
</div>


<b>title:</b>
<p><%= @book.title %></p>

<b>Body:</b>
<p><%= @book.body %></p>


<%= link_to "Edit", edit_book_path(@book.id) %>
<%= link_to "back", "/books" %>
